.flight-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.airplaneicon {
    height: 30px;
}

.time {
    font-family: "Times New Roman", Times, serif;
    color: Gray;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 3px;
}

.line { 
    border-bottom: 1px solid lightgrey;
    width: 350px;
    margin: auto;
}
  