nav {
    height: 40px;
    background-color: gray;
    display: flex;
    align-items: center;
    margin-top: 5px;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 1%;
}

.navbartxt {
    font-family:'Times New Roman';
    color: white;
    margin-left: 20px;
}